@model PirateTARpe23.Models.Pirates.PirateCreateViewModel

<div>
    <form method="post" enctype="multipart/form-data">

        <div class="form-group-row">
            <label asp-for="Name" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="Name" class="form-control" />
            </div>
        </div>

        <div class="form-group-row">
            <label asp-for="PrimaryWeapon" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="PrimaryWeapon" class="form-control" />
            </div>
        </div>

        <div class="form-group-row">
            <label asp-for="SecondaryWeapon" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="SecondaryWeapon" class="form-control" />
            </div>
        </div>

        <div class="form-group-row">
            <label asp-for="Item" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="Item" class="form-control" />
            </div>
        </div>

        <div class="form-group-row">
            <label asp-for="Files" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-5">
                <div class="custom-file">
                    <input class="form-control custom-file-input"
                           asp-for="Files"
                           multiple type="file" />
                    <label class="custom-file-label">Choose Images from device -></label>
                </div>
            </div>
        </div>

        @{
            var breakpoint = "";
        }
        <input asp-action="Create" asp-controller="Pirates" type="submit"
               class="btn btn-outline-secondary" value="Cool button you should click">
        <a asp-action="index" class="btn btn-danger">Other cool button you should definitely click</a>

    </form>
</div>

@section Scripts {
    <script>
        $(document).Ready(function () {
            $('.custom-file-input').on("change", function () {
                var fileLabel = $(this).next('.custom-file-input');
                var files = $(this)[0].files;
                if (files.length > 1) {
                    fileLabel.html(files.length + ' files selected');
                }
                else if (files.length == 1) {
                    fileLabel.html(files[0].name);
                }
            });
        });
    </script>
}