@model PirateTARpe23.Models.Islands.IslandCreateViewModel

<div>
    <form method="post" enctype="multipart/form-data">

        <div class="form-group-row">
            <label class="col-sm-2 col-form-label">Give this damned island a name</label>
            <div class="col-sm-10">
                <input asp-for="IslandName" class="form-control" />
            </div>
        </div>
        @{
            var breakpoint = "";
        }
        <input asp-action="Create" asp-controller="Islands" type="submit"
               class="btn btn-outline-secondary" value="put this island on this wretched earth">
        <a asp-action="index" class="btn btn-danger">Nah, nevermind</a>

    </form>
</div>