@model PirateTARpe23.Models.Profiles.ProfileRegisterViewModel

<div>
    <h1> Customize profile </h1>
</div>

<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger">
                <input type="hidden" asp-for="ApplicationUserID" />
                <input type="hidden" asp-for="dabloons" />
                <input type="hidden" asp-for="epicfortnitevictoryroyales" />
                <input type="hidden" asp-for="CurrentStatus" />
                <input type="hidden" asp-for="IsAdmin" />

                <div class="form-group">
                    <label asp-for="ScreenName"></label>
                    <input asp-for="ScreenName" class="form-control"/>
                    <span asp-validation-for="ScreenName" class="text-danger"></span>
                </div>

                <button type="submit" class="">
                    Yes, this is me
                </button>
            </div>
        </form>
    </div>
</div>